@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url(./nullstyle.css);

:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--hover-text-color: #2196F3;
	--header-logo-color: #000000;
	--footer-logo-color: #FFFFFF;
	--hero-text-color: #FFFFFF;
	--footer-address-color: #FFFFFF;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--primary-text-color);
}


/* .................................HEADER................................ */
.header {}

.header__nav {}

.logo__link {}

.nav__list {}

.nav__item {}

.nav__link {}

.header__list {}

.header__item {}

.header__link {}
/* ...............................END HEADER................................ */


/* ...................................FOOTER.................................. */
.footer {}

.footer__address {}

.footer__list {}

.footer__item {}

.footer__link {}

/* .................................END FOOTER................................ */


/* ...............................INDEX.HTML............................... */
.main__content {}

.main__hero {}

.hero__title {}

.hero__btn {}

.main__benefits {}

.benefits__title {}

.benefits__list {}

.benefits__item {}

.benefits__name {}

.benefits__discrpt {}

.main__example {}

.example__title {}

.example__list {}

.example__item {}

.example__img {}

.main__team {}

.team__title {}

.team__list {}

.team__item {}

.team__img {}

.team__name {}

.team__position {}
/* ...............................END INDEX.HTML.............................. */


/* ...............................PORTFOLIO.HTML.............................. */
.portfolio__content {}

.portfolio__section {}

.portfolio__title {}

.portfolio__filter {}

.filter__item {}

.filter__button {}

.portfolio__list {}

.portfolio__item {}

.portfolio__link {}

.portfolio__img {}

.portfolio__name {}

.portfolio__discrpt {}
/* ...............................END PORTFOLIO.HTML.......................... */